body {
    background-color: rgb(246, 255, 255);
}



a {
    color: rgb(21, 35, 163);
}

.general {
    border: solid 3px black;
    text-align: center;
    position: absolute;
    
}


.navigation {
    top: 5px;
    left: 5px;
    right: 5px;
    height: 125px;
}


.tabmain1 {
    top: 141px;
    left: 200px;
    right: 200px;
    height: 1150px;
}

.tabmain2 {
    top:1302px;
    left:200px;
    right:200px;
    height:1150px;
}

.tabmain3 {
    top: 2463px;
    left:200px;
    right:200px;
    height:1150px;
}

.tabmain4 {
    top:3624px;
    left:200px;
    right:200px;
    height:1150px;
}


.footer {
    top: 4785px;
    height:54px;
    left: 5px;
    right: 5px;
}


.big {
    font-size:60px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serifS;
}

.linkbig {
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.linksmall {
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.textnormal {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.textsmall {
    font-size:10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}


.italics {
    font-style: italic;
}